.course-card {
  display: flex;
  border: 1px solid lightseagreen;
  padding: 10px;

  &__left-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 30px;
    width: 70%;
  }

  &__right-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    text-align: right;
  }

  &__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__title {
    padding-bottom: 20px;
  }

  &__description-item {
    font-size: 14px;
    padding-bottom: 5px;
  }

  &__authors {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
