.header {
  display: flex;
  align-items: center;
  border: 2px solid lightcoral;
  margin-top: 20px;

  &__logo {
    width: 100px;
    cursor: pointer;
  }

  &__logo-container {
    flex-grow: 1;
    padding-left: 20px;
  }

  &__content {
    flex-grow: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__username {
    font-weight: bold;
    margin-right: 50px;
  }

  &__logout {
    margin-right: 50px;
  }
}
